CompileFlags:
  Add:
    - "-Iinclude"
    - "-Igfu-common/include"
    - "-Igfu-ar/include"
    - "-Igfu-as/include"
    - "-Igfu-bfd/include"
    - "-Igfu-cc/include"
    - "-Igfu-hx/include"
    - "-Igfu-ld/include"
    - "-Igfu-objdump/include"
    - "-Igfu-opcodes/include"
    - "-Igfu-readobj/include"
    - "-Igfu-sx/include"
    - "-Iiselgen/include"
    - "-Ivendor/glfw3/include"
    - "-DGFUSX_PLATFORM_GLFW"
    - "-Wno-unused-variable"
    - "-Wno-unused-function"
    - "-Wno-unused-label"
    - "-std=c99"
    - "-pedantic"
    - "-pedantic-errors"

Diagnostics:
  UnusedIncludes: None
