[submodule "third-party/kos"]
	path = third-party/kos
	url = https://github.com/nashiora/kos.h.git
[submodule "third-party/choir"]
	path = third-party/choir
	url = https://github.com/nashiora/choir.git
