bin/
out/
bin/
fuzz/

nob
nob.exe
nob.old
nob.exe.old

*.gfo
*.gfu
*.bak

*.bat
*.sh

.old/
*.old

build/config.h

gfu-as/fuasm.c.old
gfu-as/fuasm.h.old
gfu-as/isel_tables.c
gfu-iselgen/isel_source.h
include/gamefu/as/x/mnemonics.h
